            html,body{margin:0px;padding:0px;overflow:hidden;}
            /*#code{position:absolute;top:0px;left:0px;width:100px;height:100px;}*/
            
            .CodeMirror {
            height: auto;
            }
            .CodeMirror-scroll {
            overflow-y: hidden;
            overflow-x: auto;
            }            
            
            #nav{
            position:relative
            top:0px;
            left:0px;
            background-color: rgb(246, 246, 246);
            min-height: 50px;
            padding-right: 15px;
            padding-left: 15px;
            padding-top:12px;
            border-bottom:1px solid rgb(230, 230, 230);
            }

            .nav_brand{
            max-width: 200px;
            padding-right: 15px;
            font-size: 18px;
            font-weight: 500;
            line-height: 20px;
            color: rgb(119, 119, 119);
            }
            
            #code_wrapper{
            width:100%;
            height:auto;
            }
            #code_textarea{
            width:70%;
            float:left;
            }
            #code_autocomplete{
            width:30%;
            height:90%;
            float:right;
            background:#dddddd;
            overflow-y:scroll;
            }
            
            #code_autocomplete_inner{
            margin:10px;
            }
            
            .autocomplete_block{
            border:1px solid #000000;
            padding:10px;
            margin-bottom:10px;
            }